<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>




@foreach (var job in ViewBag.jobs)

{
    <table width="800px">
        @foreach (KeyValuePair<string, string> j in job)
        {
            <tr>
                <td style="text-align;font-weight:bold;">@j.Key</td>
                <td style="text-align;margin-left:auto;">@j.Value</td>
            </tr>
            <br />

        }
    </table>
    
}
